/* components/Footer.module.css */
.footer {
    color: white;
    padding: 20px 0;
    text-align: center;
    height: 30%;
    bottom: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    margin: 0 auto;
    padding: 0 20px;
  }
  